body {
	width: 100%;
	margin: 20px 0;
	text-align: center;
}

div {
	display: inline-block;
	height: 100px;
}

.container {
	margin: 20px 0;
	width: 100%;
}

.red, .blue, .yellow {
	border: 3px solid black;
}

.red {
	background-color: red;
	width: 25%;
	margin-right: 3%;
}

.blue {
	background-color: lightblue;
	width: 65%;
	margin-right: 3%;
}

.yellow {
	background-color: yellow;
	width: 93.8%;
	margin-right: 3%;
}